<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.com.zdpzsp.system.bo.SysUserRolesMapper" >
  <resultMap id="BaseResultMap" type="com.zdpzsp.system.bo.SysUserRoles" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="user_id" jdbcType="BIGINT" />
    <result column="role_id" property="role_id" jdbcType="BIGINT" />
    <result column="is_used" property="is_used" jdbcType="TINYINT" />
    <result column="created_at" property="created_at" jdbcType="BIGINT" />
    <result column="creator_id" property="creator_id" jdbcType="BIGINT" />
    <result column="updated_at" property="updated_at" jdbcType="BIGINT" />
    <result column="updater_id" property="updater_id" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, role_id, is_used, created_at, creator_id, updated_at, updater_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zdpzsp.system.bo.SysUserRolesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user_roles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_roles
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_user_roles
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zdpzsp.system.bo.SysUserRolesExample" >
    delete from sys_user_roles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zdpzsp.system.bo.SysUserRoles" >
    insert into sys_user_roles (id, user_id, role_id, 
      is_used, created_at, creator_id, 
      updated_at, updater_id)
    values (#{id,jdbcType=BIGINT}, #{user_id,jdbcType=BIGINT}, #{role_id,jdbcType=BIGINT}, 
      #{is_used,jdbcType=TINYINT}, #{created_at,jdbcType=BIGINT}, #{creator_id,jdbcType=BIGINT}, 
      #{updated_at,jdbcType=BIGINT}, #{updater_id,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zdpzsp.system.bo.SysUserRoles" >
    insert into sys_user_roles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="role_id != null" >
        role_id,
      </if>
      <if test="is_used != null" >
        is_used,
      </if>
      <if test="created_at != null" >
        created_at,
      </if>
      <if test="creator_id != null" >
        creator_id,
      </if>
      <if test="updated_at != null" >
        updated_at,
      </if>
      <if test="updater_id != null" >
        updater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        #{user_id,jdbcType=BIGINT},
      </if>
      <if test="role_id != null" >
        #{role_id,jdbcType=BIGINT},
      </if>
      <if test="is_used != null" >
        #{is_used,jdbcType=TINYINT},
      </if>
      <if test="created_at != null" >
        #{created_at,jdbcType=BIGINT},
      </if>
      <if test="creator_id != null" >
        #{creator_id,jdbcType=BIGINT},
      </if>
      <if test="updated_at != null" >
        #{updated_at,jdbcType=BIGINT},
      </if>
      <if test="updater_id != null" >
        #{updater_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zdpzsp.system.bo.SysUserRolesExample" resultType="java.lang.Integer" >
    select count(*) from sys_user_roles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_user_roles
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.user_id != null" >
        user_id = #{record.user_id,jdbcType=BIGINT},
      </if>
      <if test="record.role_id != null" >
        role_id = #{record.role_id,jdbcType=BIGINT},
      </if>
      <if test="record.is_used != null" >
        is_used = #{record.is_used,jdbcType=TINYINT},
      </if>
      <if test="record.created_at != null" >
        created_at = #{record.created_at,jdbcType=BIGINT},
      </if>
      <if test="record.creator_id != null" >
        creator_id = #{record.creator_id,jdbcType=BIGINT},
      </if>
      <if test="record.updated_at != null" >
        updated_at = #{record.updated_at,jdbcType=BIGINT},
      </if>
      <if test="record.updater_id != null" >
        updater_id = #{record.updater_id,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_user_roles
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.user_id,jdbcType=BIGINT},
      role_id = #{record.role_id,jdbcType=BIGINT},
      is_used = #{record.is_used,jdbcType=TINYINT},
      created_at = #{record.created_at,jdbcType=BIGINT},
      creator_id = #{record.creator_id,jdbcType=BIGINT},
      updated_at = #{record.updated_at,jdbcType=BIGINT},
      updater_id = #{record.updater_id,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdpzsp.system.bo.SysUserRoles" >
    update sys_user_roles
    <set >
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
      <if test="role_id != null" >
        role_id = #{role_id,jdbcType=BIGINT},
      </if>
      <if test="is_used != null" >
        is_used = #{is_used,jdbcType=TINYINT},
      </if>
      <if test="created_at != null" >
        created_at = #{created_at,jdbcType=BIGINT},
      </if>
      <if test="creator_id != null" >
        creator_id = #{creator_id,jdbcType=BIGINT},
      </if>
      <if test="updated_at != null" >
        updated_at = #{updated_at,jdbcType=BIGINT},
      </if>
      <if test="updater_id != null" >
        updater_id = #{updater_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdpzsp.system.bo.SysUserRoles" >
    update sys_user_roles
    set user_id = #{user_id,jdbcType=BIGINT},
      role_id = #{role_id,jdbcType=BIGINT},
      is_used = #{is_used,jdbcType=TINYINT},
      created_at = #{created_at,jdbcType=BIGINT},
      creator_id = #{creator_id,jdbcType=BIGINT},
      updated_at = #{updated_at,jdbcType=BIGINT},
      updater_id = #{updater_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--自定义-->

  <insert id="insertSysUserRoles" parameterType="java.util.List">
     insert into sys_user_roles (user_id, role_id,
      is_used, created_at, creator_id, 
      updated_at, updater_id) values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.user_id,jdbcType=BIGINT}, #{item.role_id,jdbcType=BIGINT},
      #{item.is_used,jdbcType=TINYINT}, #{item.created_at,jdbcType=BIGINT}, #{item.creator_id,jdbcType=BIGINT},
      #{item.updated_at,jdbcType=BIGINT}, #{item.updater_id,jdbcType=BIGINT})
    </foreach>
  </insert>
</mapper>